[submodule "src/content/blog"]
	path = src/content/blog
	url = https://github.com/rad-sashimi-games/devlogs.git
[submodule "src/content/pages"]
	path = src/content/pages
	url = https://github.com/rad-sashimi-games/fish-head-games-website-pages.git
