---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Fish Head Games"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('2024-12-21')}
	heroImage="/fish-head-games/fishhead.png"
>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
		labore et dolore magna aliqua. Vitae ultricies leo integer malesuada nunc vel risus commodo
		viverra. Adipiscing enim eu turpis egestas pretium. Euismod elementum nisi quis eleifend quam
		adipiscing. In hac habitasse platea dictumst vestibulum. Sagittis purus sit amet volutpat. Netus
		et malesuada fames ac turpis egestas. Eget magna fermentum iaculis eu non diam phasellus
		vestibulum lorem. Varius sit amet mattis vulputate enim. Habitasse platea dictumst quisque
		sagittis. Integer quis auctor elit sed vulputate mi. Dictumst quisque sagittis purus sit amet.
	</p>

	<h2>Team</h2>
	<p>
		<ul>
			<li>Adrian Smith (Lost Beach Boy)</li>
			<li>Ashley (Pixel Tiger)</li>
			<li>Emily (Sleep After Death)</li>
			<li>Noah (Trout In The Machine)</li>
			<li>Osaze Shears (Oz)</li>
		</ul>
	</p>

</Layout>
